body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 8px 200px;
  background-color: #1F2937;
  flex: 1;
}

.header_logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900px;
}

.header_links {
  display: flex;
  padding: 0px;
  /* margin: 0px; */
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-bottom: 8px;
}

.signup {
  color: white;
  background: #3882f6;
  padding: 8px 36px;
  margin-top: 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.section1 {
  display: flex;
  margin:130px 0px;
  gap: 60px;
  align-items: center;
}

.left {
  flex: 1;
}

.img_holder {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #8c929b;
  width: 850px;
  height: 225px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  padding: 56px 0;
}

.card_lists {
  display: flex;
  text-align: center;
  padding: 0px 300px;
  gap: 42px;
  align-self: center;
  padding-bottom: 112px;
}

.text2 {
  color: #8c929b ;

}

.card {
  border: 4px solid;
  border-color: #3882f6;
  border-radius: 16px;
  width: 160px;
  height: 160px;
}

.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

ul {
  list-style: none; 
  display: flex;
  gap: 24px;
}

a, .text {
  text-decoration: none;
  font-size: 18px;
  color: #8c929b;
}