html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.header {
  display: flex;
  flex-direction: column;
  padding: 8px 200px;
  background-color: #1F2937;
  flex: 1;
}

.header_logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900px;
}

.header_links {
  display: flex;
  padding: 0px;
  /* margin: 0px; */
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-bottom: 8px;
}

.signup {
  color: white;
  background: #3882f6;
  padding: 8px 36px;
  margin-top: 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.section1 {
  display: flex;
  margin:130px 0px;
  gap: 60px;
  align-items: center;
}

.left {
  flex: 1;
}

.img_holder {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #8c929b;
  width: 850px;
  height: 225px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.topic2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  padding: 71px 0;
}

.card_lists {
  display: flex;
  text-align: center;
  padding: 0px 300px;
  gap: 42px;
  align-self: center;
  padding-bottom: 142px;
}

.text2 {
  color: #8c929b ;

}

.card {
  border: 4px solid;
  border-color: #3882f6;
  border-radius: 16px;
  width: 160px;
  height: 160px;
}

.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.section3 {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 150px 200px;
  /* flex: 1; */
  /* height: 00px; */
}

.text3 {
  font-size: 36px;
  font-style:  Italic;
  font-weight: 300;
  color: #1F2937;
}

.quote {
  align-self: flex-end;
  font-weight: 700;
  color: #1F2937;
  font-size: 24px;
}

.section4{
  display: flex;
  padding: 0 150px;
  justify-content: center;
  align-items: center;
}

.inter {
  display: flex;
  border-radius: 8px;
  margin: 100px 0px;
  padding: 40px 120px;
  background-color: #3882f6;
  gap: 160px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.topic4 {
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;

}

.text4 {
  color: #f9faf8c0;
}

#signup2 {
  color: #F9FAF8;
  background-color: #3882f6;
  padding: 8px 32px;
  border: 2px solid;
  border-color: #F9FAF8;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0px;
  flex-shrink:0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 48px 32px;
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: 300;
}

ul {
  list-style: none; 
  display: flex;
  gap: 24px;
}

a, .text {
  text-decoration: none;
  font-size: 18px;
  color: #8c929b;
}